<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiSpeakClientV30ac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MultiSpeakClientV30ac.Properties.Settings>
            <setting name="MultiSpeakClientV30ac_proxyMDM3ac_MDM_Server"
                serializeAs="String">
                <value>http://localhost:55273/MDM_Server.asmx</value>
            </setting>
            <setting name="MultiSpeakClientV30ac_proxyMR3ac_MR_Server" serializeAs="String">
                <value>http://localhost:55273/MR_Server.asmx</value>
            </setting>
            <setting name="MultiSpeakClientV30ac_proxyOA3ac_OA_Server" serializeAs="String">
                <value>http://localhost:55273/OA_Server.asmx</value>
            </setting>
            <setting name="MultiSpeakClientV30ac_proxyCB3ac_CB_Server" serializeAs="String">
                <value>http://localhost:55273/CB_Server.asmx</value>
            </setting>
            <setting name="MultiSpeakClientV30ac_proxyOD3ac_OD_Server" serializeAs="String">
                <value>http://localhost:55273/OD_Server.asmx</value>
            </setting>
            <setting name="MultiSpeakClientV30ac_proxyEA3ac_EA_Server" serializeAs="String">
                <value>http://localhost:55273/EA_Server.asmx</value>
            </setting>
            <setting name="MultiSpeakClientV30ac_proxyMDM416_MDM_Server"
                serializeAs="String">
                <value>http://63.164.96.175/MultiSpeak416/MDM_SERVER.asmx</value>
            </setting>
        </MultiSpeakClientV30ac.Properties.Settings>
    </applicationSettings>
</configuration>